@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Oxygen);

:root {
  --label-font: 'Libre Baskerville', serif;
  --description-font: Monospace, sans-serif;
  --title-font: 'Oxygen', Roboto, sans-serif;
  --main-title-color: #a6d0d0;
  --body-background-color: #eeeeee78;
  --container-gradient: 35deg, #ccffff12, #ffcccc14;
  --container-border-color: #47cf7329;
  --elements-title-color: #343436;
  --textarea-border-color: #cccccc8f;
  --textarea-focus-box-color: #0ebeff94;
  --submit-border-color: #76daff;
  --submit-background-color: #76daff2e;
  --submit-focus-box-color: #0745f366;
}

body {
  overflow: hidden;
  height: 100vh;
  background-color: var(--body-background-color);
}

#title {
  position: relative;
  width: 100vw;
  margin: auto;
  text-align: center;
  font-family: var(--title-font);
  color: var(--main-title-color);
  letter-spacing: 0.15em;
}

.container {
  position: relative;
  width: 70%;
  top: 10px;
  margin: 0 auto;
  background: linear-gradient(var(--container-gradient));
  border-radius: 10px;
  border: 1px solid var(--container-border-color);
  text-align: center;
  border-style: outset;
}

#description {
  font-size: 0.8em;
  font-weight: 700;
  font-family: var(--description-font);
}

#survey-form {
}

#resource {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-bottom: 25px;
}

#languages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-bottom: 15px;
}

input[type='text'],
input[type='email'],
input[type='number'] {
  border-radius: 3px;
  outline-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus {
  text-align: center;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus {
  box-shadow: 0px 0px 10px 0.5px var(--textarea-focus-box-color);
}

input[type='radio'] {
}

input[type='submit'] {
  margin: 10px 0 10px 0;
  border: 0.5px solid var(--submit-border-color);
  border-radius: 5px;
  width: 150px;
  background-color: var(--submit-background-color);
  outline-style: none;
  font-weight: 600;
  padding: 0.5em;
}

input[type='submit']:focus {
  box-shadow: 0px 0px 5px 1px var(--submit-focus-box-color);
}

input[type='number'] {
  min-width: 70px;
}

label {
  display: block;
}

form label {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--label-font);
  margin: 5px 0px 2px 0px;
  color: #666;
}

#name {
}

#email {
  width: 170px;
}

textarea {
  min-width: 50%;
  max-width: 70%;
  border-radius: 5px;
  border: 1px solid var(--textarea-border-color);
  box-sizing: border-box;
  min-height: 50px;
  max-height: 65px;
}

select {
  margin-bottom: 15px;
}

.elements-title {
  color: var(--elements-title-color);
  font-style: italic;
}

fieldset {
  display: inline-block;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding-bottom: 0px;
}

@media screen and (max-width: 900px) {
  body {
    overflow: visible;
  }
}
